Repository cathaysia/asphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: "v2.7.1"
  #   hooks:
  #     - id: prettier
  #       additional_dependencies:
  #         - prettier@2.8.4
  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt --edition 2021

  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-check
      additional_dependencies: ["@biomejs/biome@1.8.3"]
      exclude: src/routeTree.gen.ts

fix: fix panic problem
  src/utils/git.rs
Due: rustfmt

feat: report untitled
  src/generator.rs
Due: rustfmt

feat(theme): better theme
  theme/src/assets/asciidoc.css
  theme/src/style.css
Due: none

feat: update theme
  theme/src/assets/pygments.css
  theme/src/main.tsx
  theme/src/style.css
Due: none

fix(theme): fix searchItem
  theme/src/search-bar.tsx
Due: none

feat: save last_modify_time
  src/generator.rs
  src/index.rs
Due: rustfmt

feat(theme): add history
  theme/layouts/page.html
  theme/src/history.tsx
  theme/src/tail.tsx
Due: none

fix(theme): fix filter
  theme/src/history.tsx
Due: none

fix(theme): fix history link
  theme/src/history.tsx
Due: none

feat: filter normal link
  src/utils/html.rs
Due: rustfmt

feat(theme): better theme
  theme/src/search-bar.tsx
Due: none

feat(search): ignore case
  theme/src/history.tsx
Due: none

fix(theme): fix border
  theme/src/search-bar.tsx
Due: none

feat(theme): prefetch cache.json, add skeletion when loading
  theme/layouts/page.html
  theme/src/components/ui/skeleton.tsx
  theme/src/history.tsx
  theme/src/search-bar.tsx
Due: none

feat(theme): remove history, sort search bar by time
  theme/layouts/page.html
  theme/package.json
  theme/pnpm-lock.yaml
  theme/src/components/ui/hover-card.tsx
  theme/src/history.tsx
  theme/src/search-bar.tsx
  theme/src/tail.tsx
Due: none

refactor(theme): remove unused code
  theme/src/history.tsx
  theme/src/search-bar.tsx
Due: none

feat(theme): replace fusejs by minsearch
  theme/package.json
  theme/pnpm-lock.yaml
  theme/src/search-bar.tsx
Due: none

feat(theme): add last_update_time
  theme/layouts/page.html
Due: none

feat(config): update config
  asphinx.toml
  config.toml
  src/config.rs
  src/config/asciidoc.rs
  src/main.rs
Due: toml, rustfmt

feat(diagram): make the default diagram type to svg
  asphinx.toml
Due: toml

ci: update ci
  .github/workflows/check.yml
  rust-toolchain.toml
Due: toml

feat: bump rust version to 1.85.0
  .github/workflows/check.yml
  Cargo.toml
  rust-toolchain.toml
Due: toml

ci: do not publish release when push to master
  .github/workflows/publish.yml
Due: none

refactor: refactor code
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/utils.rs
Due: toml, rustfmt

feat: copy assets
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: toml, rustfmt

feat: add process bar
  Cargo.lock
  Cargo.toml
  src/generator.rs
  src/main.rs
Due: toml, rustfmt

feat: show git progress
  src/generator.rs
  src/main.rs
  src/utils/git.rs
Due: rustfmt

style: add typos
  .pre-commit-config.yaml
Due: none

feat: fix typos
  src/generator.rs
  theme/src/search-bar.tsx
Due: rustfmt

feat: split into generate and render
  src/generator.rs
  src/main.rs
Due: rustfmt

feat: better progressbar
  src/main.rs
Due: rustfmt

refactor: refactor code
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/utils.rs
  src/utils/duration.rs
  src/utils/git.rs
  src/utils/html.rs
Due: toml, rustfmt

feat: add readme and ghpages
  .github/workflows/deploy.yml
  README.md
  flake.lock
  flake.nix
Due: none

docs: add some doc
  content/book1/assets/empty.svg
  content/book1/ch1.adoc
  content/book1/ch2.adoc
  content/book1/index.adoc
  content/book2/ch1.adoc
  content/book2/ch2.adoc
  content/book2/index.adoc
  content/getting-started/basic-usage.adoc
  content/getting-started/index.adoc
  content/getting-started/installation.adoc
  content/getting-started/project-structure.adoc
  content/getting-started/quick-start.adoc
  content/index.adoc
  content/user-guide/index.adoc
Due: none

deploy: a2ed2a761484b707c0261b5baa99c24bac6bbf4a
  book1/assets/empty.svg
  book1/ch1.html
  book1/ch2.html
  book1/index.html
  book2/ch1.html
  book2/ch2.html
  book2/index.html
  cache.json
  getting-started/basic-usage.html
  getting-started/index.html
  getting-started/installation.html
  getting-started/project-structure.html
  getting-started/quick-start.html
  index.html
  user-guide/index.html
Due: none

fix(theme): fix subpath
  theme/vite.config.ts
Due: none

deploy: 1b0ec4d0a4ba3c190b5f4934fed389e6691a45fb
  assets/main-6ORpJFDt.js
  assets/main-Dmk1p4W5.css
  assets/main-P92uuvGu.css
  cache.json
  getting-started/basic-usage.html
  getting-started/index.html
  getting-started/installation.html
  getting-started/project-structure.html
  getting-started/quick-start.html
  index.html
  user-guide/index.html
Due: none

docs: fix docs
  content/getting-started/index.adoc
  content/index.adoc
  content/user-guide/index.adoc
Due: none
