Repository cathaysia/asphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml, rustfmt

toml:
  name: toml
  language: system
  entry: taplo format

rustfmt:
  name: rustfmt
  language: system
  entry: rustfmt --edition 2021

deploy: b6ba3aa08b997719f085f59cb527f241e915a203
  cache.json
  getting-started/basic-usage.html
  getting-started/index.html
  getting-started/installation.html
  getting-started/project-structure.html
  getting-started/quick-start.html
  index.html
  user-guide/index.html
Due: none

feat(config): add site
  asphinx.toml
  src/config.rs
  src/config/asciidoc.rs
  src/generator.rs
  src/main.rs
Due: toml, rustfmt

ci(deploy): modify trigger condition
  .github/workflows/deploy.yml
Due: none

deploy: 53f29260307b512b91f810b9d68e3a63dd71cd6e
  cache.json
  getting-started/basic-usage.html
  getting-started/index.html
  getting-started/installation.html
  getting-started/project-structure.html
  getting-started/quick-start.html
  index.html
  user-guide/index.html
Due: none

ci: add update flake ci
  .github/workflows/update-flake-lock.yml
Due: none

deploy: f0c68cc3a42a07bb264863cd9fa41d7382c1bac0
  cache.json
  getting-started/basic-usage.html
  getting-started/index.html
  getting-started/installation.html
  getting-started/project-structure.html
  getting-started/quick-start.html
  index.html
  user-guide/index.html
Due: none

fix(theme): add input attr
  theme/src/search-bar.tsx
Due: none

deploy: 955e575f4b179f2255b7c009f42683e41a722d69
  assets/main-C-n0F6TH.js
  cache.json
  getting-started/basic-usage.html
  getting-started/index.html
  getting-started/installation.html
  getting-started/project-structure.html
  getting-started/quick-start.html
  index.html
  user-guide/index.html
Due: none

feat: add pagefind
  .github/workflows/publish.yml
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: toml, rustfmt

feat: add pagefind
  Cargo.lock
  Cargo.toml
  src/main.rs
  theme/layouts/page.html
  theme/package.json
  theme/src/search-bar.tsx
Due: toml, rustfmt

feat: add pagefind
  Cargo.lock
  Cargo.toml
  src/main.rs
  theme/layouts/page.html
  theme/package.json
  theme/pnpm-lock.yaml
  theme/src/search-bar.tsx
  theme/src/types/pagefind.d.ts
Due: toml, rustfmt

deploy: 2999e76f4201e52df6c8b033cc893fa8f8cf1396
  assets/main-B5k2iBPK.css
  assets/main-C-n0F6TH.js
  assets/main-DGDYGu92.js
  cache.json
  getting-started/basic-usage.html
  getting-started/index.html
  getting-started/installation.html
  getting-started/project-structure.html
  getting-started/quick-start.html
  index.html
  pagefind/fragment/en_7d1c14c.pf_fragment
  pagefind/fragment/en_8202eb3.pf_fragment
  pagefind/fragment/en_99f917a.pf_fragment
  pagefind/fragment/en_c70de43.pf_fragment
  pagefind/fragment/en_cc68844.pf_fragment
  pagefind/fragment/en_dad7f2a.pf_fragment
  pagefind/fragment/en_fa8ba78.pf_fragment
  pagefind/index/en_b87833a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind-highlight.js
  pagefind/pagefind-modular-ui.css
  pagefind/pagefind-modular-ui.js
  pagefind/pagefind-ui.css
  pagefind/pagefind-ui.js
  pagefind/pagefind.en_a4887dd697.pf_meta
  pagefind/pagefind.js
  pagefind/wasm.en.pagefind
  pagefind/wasm.unknown.pagefind
  user-guide/index.html
Due: none

feat: add filetree
  .github/workflows/deploy.yml
  src/filetree.rs
  src/generator.rs
  src/main.rs
  src/utils/tmpl.rs
  theme/layouts/page.html
  theme/src/components/file-tree.tsx
  theme/src/tail.tsx
Due: rustfmt

deploy: 78dacae6ce3d98c3fb9b5e095e7efbf3c87004c5
  assets/main-0GDVmnfb.css
  assets/main-BfXZp5ip.js
  assets/main-DGDYGu92.js
  cache.json
  filetree.json
  getting-started/basic-usage.html
  getting-started/index.html
  getting-started/installation.html
  getting-started/project-structure.html
  getting-started/quick-start.html
  index.html
  pagefind/fragment/en_381c929.pf_fragment
  pagefind/fragment/en_5c1c5d2.pf_fragment
  pagefind/fragment/en_7598d43.pf_fragment
  pagefind/fragment/en_7d1c14c.pf_fragment
  pagefind/fragment/en_8202eb3.pf_fragment
  pagefind/fragment/en_87a6c73.pf_fragment
  pagefind/fragment/en_9824d37.pf_fragment
  pagefind/fragment/en_99f917a.pf_fragment
  pagefind/fragment/en_b5e8a10.pf_fragment
  pagefind/fragment/en_c70de43.pf_fragment
  pagefind/fragment/en_cc68844.pf_fragment
  pagefind/fragment/en_dad7f2a.pf_fragment
  pagefind/fragment/en_dcd962d.pf_fragment
  pagefind/fragment/en_fa8ba78.pf_fragment
  pagefind/index/en_b87833a.pf_index
  pagefind/index/en_e976209.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_786d7cef14.pf_meta
  pagefind/pagefind.en_a4887dd697.pf_meta
  user-guide/index.html
Due: none

fix(pagefind): bump pagefind to alpha for fix clap panic problem
  Cargo.lock
  Cargo.toml
Due: toml

deploy: 56881ec1d8dcaae917bdd5c6fe538ec4f1cf478b
  cache.json
  filetree.json
  getting-started/basic-usage.html
  getting-started/index.html
  getting-started/installation.html
  getting-started/project-structure.html
  getting-started/quick-start.html
  index.html
  pagefind/fragment/en_381c929.pf_fragment
  pagefind/fragment/en_5c1c5d2.pf_fragment
  pagefind/fragment/en_5e7a3ef.pf_fragment
  pagefind/fragment/en_7598d43.pf_fragment
  pagefind/fragment/en_87a6c73.pf_fragment
  pagefind/fragment/en_9610155.pf_fragment
  pagefind/fragment/en_9824d37.pf_fragment
  pagefind/fragment/en_b5e8a10.pf_fragment
  pagefind/fragment/en_b62e245.pf_fragment
  pagefind/fragment/en_c61f496.pf_fragment
  pagefind/fragment/en_c9295ad.pf_fragment
  pagefind/fragment/en_db6a652.pf_fragment
  pagefind/fragment/en_dcd962d.pf_fragment
  pagefind/fragment/en_e5381ed.pf_fragment
  pagefind/index/en_84370bb.pf_index
  pagefind/index/en_e976209.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_28f6542152.pf_meta
  pagefind/pagefind.en_786d7cef14.pf_meta
  pagefind/pagefind.js
  pagefind/wasm.en.pagefind
  pagefind/wasm.unknown.pagefind
  user-guide/index.html
Due: none

Path conditions:
  toml: any of: \.toml$
  rustfmt: any of: \.rs$
